# Dependencies
node_modules/
.npm

# Build
dist/
.next/
out/

# Env
.env
.env.local
.env.production

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Prisma
apps/api/prisma/migrations/

# AI editor files
AGENTS.md
CLAUDE.md

# Next.js
apps/web/.next/
apps/web/node_modules/

# Expo
apps/mobile/node_modules/
apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/android/
apps/mobile/ios/