@tailwind base;
@tailwind components;
@tailwind utilities;
/* Sidebar : scroll actif mais scrollbar invisible */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer / Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome / Safari / Edge */
}